{% extends 'base.html.twig' %}

{% block body %}

    <h2>Recent News!</h2>
        {% for article in recentArticles %}
            <h3><a href="{{ path('default_article_show', { 'id': article.id }) }}">{{article.title}}</a></h3>
            <h4>{{article.category}}</h4>
            <p>{{ article.content|length > 50 ? article.content|slice(0, 50) ~ '...' : article.content  }}</p>
        {% endfor %}
    <h2>Browse Our Articles</h2>
    {% for category in categories %}
        <h3><a href="{{ path('admin_category_show' , {'id':category.id}) }}">{{category.categoryName}}</a></h3>
    {% endfor %}
{% endblock %}