{% extends 'base.html.twig' %}

{% block body %}

    <h1>Welcome to our Open Source News!</h1>
    <h2>Recent News!</h2>
        {% for article in recentArticles %}
            <h3><a href="{{ path('default_article_show', { 'id': article.id }) }}">{{article.title}}</a></h3>
            <h4>{{article.category}}</h4>
            <p>{{ article.content|length > 50 ? article.content|slice(0, 50) ~ '...' : article.content  }}</p>
        {% endfor %}
    <h2>Browse Our Articles</h2>
    {% for category in categories %}
        <h3><a href="">{{category.categoryName}}</a>{{category.categoryName}}</h3>
    {% endfor %}
{% endblock %}