{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Categoryname</th>
                <td>{{ category.categoryName }}</td>
            </tr>
        </tbody>
    </table>

{% for article in category.categoryArticles %}
    <ul>
        <li><a href="{{ path('article_show', { 'id': article.id }) }}">{{article.title}}</a></li>
    </ul>
{% endfor %}



    <p><a href="{{ path('category_index') }}">Back to the list</a></p>
{% endblock %}
